.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  gap: 10rem;
  margin-bottom: 5rem;
  overflow-x: hidden;
  background-color: rgba(var(--sal-rgb), 1);
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem 5%;
  background-color: rgb(var(--sal-rgb));

}

.tela1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  max-width: 1240px;
  padding: 2rem;
  gap: 2rem;

}

.tela1 h1 {
  color: rgb(var(--rosa-escuro-rgb));
  font-size: calc(1.6rem + 1.5vw);
  padding: .5rem;
  border-radius: 1rem;
  z-index: 1;
  margin: 5rem 0;
}

.form {
  width: 80%;
  max-width: 110rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: .5rem;
}

.busca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
}

.busca input {
  height: 5rem;
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem 0 0 1rem;
  padding-left: 2rem;
  color: rgba(var(--rosa-escuro-rgb), 1);
  font-size: calc(1.5rem + .1vw);
  box-shadow: .6rem .2rem 1rem rgba(var(--cinza-escuro-rgb), 0.2);

}

.busca input::placeholder {
  color: rgba(var(--cinza-escuro-rgb), 1);
  font-size: calc(1.5rem + .1vw);
}

.busca input:focus {
  outline: none;
}

.busca:focus-within {
  transform: scale(1.01);
}

.buscaBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 0rem 4rem;
  color: rgba(var(--rosa-escuro-rgb), 1);
  background-color: #fff;
  font-size: calc(1.5rem + .1vw);
  border-left: .1rem solid rgba(var(--rosa-escuro-rgb), 1);
  border-radius: 0 1rem 1rem 0;
  box-shadow: .6rem .2rem 1rem rgba(var(--cinza-escuro-rgb), 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.buscaBtn:hover {
  color: #fff;
  background-color: rgba(var(--rosa-escuro-rgb), 1);
}

.buscaBtn:active {
  transform: scale(1.01);
}

.form h4 {
  color: rgba(var(--rosa-escuro-rgb), 1);
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

.radioContainer {
  max-width: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;

}


.radioContainer input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: rgba(var(--rosa-escuro-rgb), 1);
  width: 2.5rem;
  height: 2.5rem;
  border: .2rem solid rgba(var(--rosa-escuro-rgb), 1);
  border-radius: 50%;
  transform: translateY(-0.2rem);
  display: grid;
  place-content: center;
}

.radioContainer input[type="radio"]::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: .3s transform ease-in-out;
  box-shadow: inset 1em 1em rgba(var(--rosa-escuro-rgb), 1);
}

.radioContainer input[type="radio"]:checked::before {
  transform: scale(1);
}



.radioContainer label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  color: rgba(var(--cinza-escuro-rgb), 1);
  font-size: calc(1.7rem + .1vw);
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radioContainer label:focus-within {
  color: rgba(var(--rosa-escuro-rgb), 1);
}

.tela1 h1:nth-child(0n+3) {
  color: rgb(var(--verde-escuro-rgb));
  font-family: var(--font-pacifico);
  font-size: calc(1.6rem + 1.5vw);
  padding: .5rem;
  border-radius: 1rem;
  z-index: 1;
  margin: 5rem 0;
}


.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 5%;
  padding: 5rem 2rem;
}



@media screen and (max-width: 490px) {
  .busca {
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 1rem;

  }

  .busca input {
    border-radius: 1rem;
  }

  .buscaBtn {
    border: solid 1px rgba(var(--rosa-escuro-rgb), 1);
    border-radius: 1rem;
  }
}