.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(var(--cinza-escuro-rgb));
}

.botaoSideNav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(var(--sal-rgb));
}

.lottie {
    width: 5rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuNav {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(var(--sal-rgb));
     transition: transform 0.3s ease-in-out
}

.hideNav {
    display: none;
}

.menuNavLi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.subNavlabel {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(var(--sal-rgb));
    padding: 2rem 4rem;
    border-bottom: solid .2rem rgb(var(--sal-rgb));
    cursor: pointer;
}

.subNavlabel:hover {
    background-color: rgb(var(--sal-rgb));
    color: rgb(var(--cinza-escuro-rgb));
    transition: all .3s ease;
}

.subNav {
    display: flex;
    flex-direction: column;
    background-color: green;
    color: rgb(var(--sal-rgb));
    transform: scaleY(100%);
    transform-origin: top;

}

.subNav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

.subNav a {
    font-size: 1.4rem;
    color: rgb(var(--sal-rgb));
    padding: 1rem;
    border-bottom: solid .2rem rgb(var(--sal-rgb));
    cursor: pointer;
    transition: all .6s ease;
}

.hide {
    display: none;

}