.ctaPrimario {
    background-color: rgb(var(--sal-rgb));
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* box-shadow: 0 .5rem 0 0 #BEBDBA; */
}


.ctaPrimario span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--rosa-escuro-rgb));
    font-weight: 800;

}

.ctaSecundario {
    border: solid .2rem rgb(var(--sal-rgb));
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* box-shadow: 0 .5rem 0 0 #BEBDBA */
}

.ctaSecundario span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--sal-rgb));
    font-weight: 800;
}
.ctaPrimario,
.ctaSecundario{
    font-size: calc(1.5rem + .3vw);
    padding: calc(.5rem + .5vw) calc(1rem + .5vw);
}
.ctaPrimario:active,
.ctaSecundario:active {
    transform: scale(0.98);
    /* box-shadow: 0 0 0 0 #BEBDBA; */
}



.lottie {
    width: 32px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}