.tableWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tableWrapper>h1::first-letter {
    text-transform: uppercase;
}

.tableWrapper>h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: rgba(var(--menta-rgb));
}

.table>* {
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    color: rgba(var(--rosa-escuro-rgb));
    padding: 0.5rem;
}

.tr {
    color: rgba(var(--rosa-escuro-rgb));
    border-bottom: solid 3px rgba(var(--rosa-escuro-rgb));
}

.th,
.td {
    padding: 0.5rem;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    color: inherit;
    margin: 0 auto;
    text-align: center;
    border: solid 1px rgba(var(--rosa-escuro-rgb));
    background-color: rgba(var(--menta-rgb));
}

.tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.td:last-child{
    background-color: rgba(var(--rosa-escuro-rgb));
}

.bts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.create>img,
.read>img,
.edit>img,
.delete>img {
    width: clamp(2rem, 6vw, 4rem);
    padding: 0.5rem;
    background-color: rgba(var(--rosa-rgb), 0.4);
    box-shadow: 0 2px 4px #000000;
    border-radius: 0.5rem;

}

.create,
.read,
.edit,
.delete {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover>img,
.edit:hover>img,
.create:hover>img,
.read:hover>img {
    transform: scale(1.1)
}

@media screen and (max-width: 40rem) {
    .tableRead>tr {
        line-height: 2rem;
    }
}