/* CSS Document */
:root {
  /* --rosa-claro: #e602e6; */
  /*--rosa: #990199; */
  /*--rosa-escuro: #4d004d;*/
  /*--verde-claro: #48c902; */
  /*--verde-escuro: #349400; */
  --rosa-claro-rgb: 230, 2, 230;
  --rosa-rgb: 153, 1, 153;
  --rosa-escuro-rgb: 77, 0, 77;
  --verde-claro-rgb: 72, 201, 2;
  --verde-escuro-rbg: 52, 148, 0;
  --sal-rgb: 248, 247, 244;
  --max-width: 1100px;
  --border-radius: 5px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  animation: animation1 1 ease-in-out;

}

body {
  font-size: 1.4rem;
  background-color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #49494c;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* @font-face {
  font-family: 'sun_seedregular';
  src: url("sun-seed-webfont.woff2") format('woff2'), url("sun-seed-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
} */

section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 5.5rem 1rem 0;
  border-bottom: solid 0.5rem white;
}


@keyframes animation1 {
  0% {
opacity: 0;

  }

  100% {
opacity: 1;
  }
}