/* CSS Document */
:root {
  /* --rosa-claro: #e602e6; */
  /*--rosa: #990199; */
  /*--rosa-escuro: #4d004d;*/
  /*--verde-claro: #48c902; */
  /*--verde-escuro: #349400; */
  /*--sal:f8f7f4; */
  /*--cinza-escuro: #191716; */
  --rosa-claro-rgb: 230, 2, 230;
  --rosa-rgb: 153, 1, 153;
  --rosa-escuro-rgb: 77, 0, 77;
  --verde-claro-rgb: 72, 201, 2;
  --verde-escuro-rgb: 52, 148, 2;
  --sal-rgb: 248, 247, 244;
  --cinza-escuro-rgb: 25, 23, 22;
  --max-width: 1100px;
  --border-radius: 5px;
  --espaco-interno:4rem;
}

html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
  animation: animation1 1 ease-in-out;
}

/* largura da barra de fundo */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Barra de fundo*/
::-webkit-scrollbar-track {
  background: #fff;
}

/* barra de rolagem */
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background: rgb(var(--verde-claro-rgb));

}

/* barra de rolagem no hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--rosa-escuro-rgb));

}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  font-size: 1.4rem;
  background-color: white;
  font-family: var(--font-inter);
}


a {
  color: inherit;
  text-decoration: none;
}


@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
@keyframes animation1 {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}
