.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  gap: 10rem;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(var(--sal-rgb));

}

.heroImage {

  position: absolute;
  display: block;
  height: 90vh;
  width: 100%;
  background-color: rgba(var(--rosa-escuro-rgb), 0.2);


}

.heroImage img {
  object-fit: cover;
  object-position: bottom;
  filter: contrast(0.7) brightness(0.5);
  mix-blend-mode:hard-light;




}

.tela1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 1240px;
  z-index: 1;
}

.textoTela1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
  gap: 5rem;

}

.section1 h1 {
  font-size: 10rem;
  max-width: 90rem;
  color: #ffffff;
  line-height: 0.8;
  text-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.5);
}

.section1 h1 span {
  color: rgb(var(--sal-rgb));

}

.section1 p {
  align-self: flex-start;
  max-width: 900px;
  font-size: 2.2rem;
  color: #ffffff;
}

.tela1Bts {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin-bottom: 5rem;
}

.cardContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5%;
  padding: 1rem 0;
  place-items: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 5%;
  background-color: #ffffff;
}

.tela2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  gap: 15%;
  width: 100%;
  height: 100%;
}

.tela2 h1 {
  font-size: 4rem;
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
}


.cardContainer2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 100%;
  gap: 5%;
  padding: 1rem;
}



.section2Header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
  height: 40%;
  width: 100%;
  background-color: red;
}