.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
  background-color: rgb(var(--sal-rgb));

}

.tela1 {
  padding: 4rem 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 1240px;
  margin-bottom: 8rem;

}

.textoTela1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
  gap: 5rem;

}

.section1 h1 {
  font-size: calc(4rem + 4vw);
  max-width: 90rem;
  color: #ffffff;
  line-height: 0.8;
  text-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.5);
}

.section1 h1 span {
  color: rgb(var(--sal-rgb));

}

.section1 p {
  align-self: flex-start;
  max-width: 900px;
  font-size: calc(1.6rem + .5vw);
  color: #ffffff;
  text-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.5);
}

.tela1Bts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.cardContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5%;
  place-items: center;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 5%;
  padding: 5rem 2rem;
}

.tela2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  width: 80%;
  border-radius: 50% 0 30% 0;
  background-image: linear-gradient(to right top,
      #ffffff, #ffffff, #ffffff,
      #ffffff, #ffffff, #fffeff, #fefefe,
      #fefdfd, #fdfbfb, #fcfaf9, #faf8f6, #f8f7f4);
  box-shadow: .6rem .2rem .4rem rgba(var(--cinza-escuro-rgb), 0.1);
}

.imgTela2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  width: 40%;
  height: auto;
  object-fit: cover;
  border: solid 2rem rgba(var(--verde-claro-rgb), 1);
  border-radius: 50% 0 50% 50%;
  box-shadow: 0px 0px 0px 1rem rgba(var(--verde-claro-rgb), 0.3);
}

.textoTela2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 32rem;
}

.textoTela2 h1 {
  color: rgb(var(--verde-claro-rgb));
  font-size: 3rem;
  line-height: 0.9;
}

.textoTela2 p {
  color: rgba(var(--cinza-escuro-rgb), 0.8);
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  font-weight: 400;
}

.textoTela2 p span {
  color: rgb(var(--verde-escuro-rgb));
  font-weight: 700;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 5%;
  padding: 10rem 2rem 5rem 2rem;
  background-color: rgb(var(--sal-rgb));
}

.tela3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  height: 100%;
}

.tela3 h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  text-align: center;
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
}

.tela3 h1 span {
  color: rgb(var(--verde-claro-rgb));
  padding: 1rem;
  font-family: var(--font-sun);

}

.cardContainer3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  gap: 5rem;
}

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 5%;
  padding: 10rem 2rem 5rem 2rem;
}


.tela4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  width: 50%;
  height: 100%;

}

.comoComeçar {
  font-size: 4rem;
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
  text-align: center;
  transition: all 600ms ease;
}

.switcherWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

}

.labelSwitcher {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(var(--cinza-escuro-rgb), 0.5);
  transition: all 600ms ease;
}

.Aluno {
  color: rgba(var(--rosa-escuro-rgb), 1);

}

.Professor {
  color: rgba(var(--verde-escuro-rgb), 1);
}

.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 5rem;
  height: 5rem;
  padding: .5rem 2rem;
  position: relative;
  background-color: rgba(var(--rosa-escuro-rgb), 1);
  transition: all 600ms ease;
}

.switcher button {
  border: none;
  padding: 2rem;
  border-radius: 5rem;
  cursor: pointer;
  background-color: rgb(var(--sal-rgb));
  transition: all 600ms ease;

}

.alunoBtn {
  transform: translateX(-40%);
}

.professorBtn {
  transform: translateX(40%);
}

.alunoSwitcher {
  background-color: rgba(var(--rosa-escuro-rgb), 1);

}

.professorSwitcher {
  background-color: rgba(var(--verde-escuro-rgb), 1);
}

.timeline {
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.linhaClara {
  position: absolute;
  top: 6%;
  left: 0;
  height: 90%;
  width: .5rem;
  z-index: -2;
  background-color: rgba(var(--cinza-escuro-rgb), 0.4);
}

.linhaCor {
  position: absolute;
  top: 6%;
  left: 0;
  width: .5rem;
  background-color: rgba(var(--rosa-escuro-rgb), 1);
  transform-origin: top;
  transition: all 600ms ease;
}

.timeline li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  height: 10rem;
  margin-left: 4rem;
  margin-bottom: 18rem;
  border-radius: 1rem;
  box-shadow: .4rem .5rem 1rem rgba(var(--cinza-escuro-rgb), 0.2);
  background-color: rgb(var(--sal-rgb));
  overflow-y: hidden;

}

.timeline li:last-child {
  margin-bottom: 0;
}

.marcadorWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  top: 4%;
  left: -1rem;
  height: 100%;
  gap: 25.5rem;
  width: 25px;
  z-index: 1;
}

.marcador {
  align-self: flex-start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--sal-rgb));
  font-size: 1.8rem;
  border-radius: 50%;
  width: 25px;
  z-index: 1;
  aspect-ratio: 1/1;
  background-color: rgba(var(--sal-rgb), 1);
  border: solid 1px rgba(var(--cinza-escuro-rgb), 0.4);
  transition: all 600ms ease;
}

.quadrado {
  display: flex;
  width: 30%;
  max-width: 9rem;
  border-radius: 1rem;
  aspect-ratio: 1/1;
}

.timeAluno .quadrado {
  background-color: rgba(var(--rosa-escuro-rgb), 1);
}

.timeProfessor .quadrado {
  background-color: rgba(var(--verde-escuro-rgb), 1);
}


.timeAluno,
.timeProfessor {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  padding: .5rem;
  gap: .5rem;
  font-size: clamp(1.6rem, 2vw, 2rem);
  transform: translateY(-100%);

}

.alu>.timeAluno {
  transform: translateY(0);
}

.alu>.timeProfessor {
  transform: translateY(100%);
}

.timeAluno h5 {
  max-width: 50%;
  color: rgba(var(--rosa-escuro-rgb), 1);

}

.timeProfessor h5 {
  max-width: 50%;
  color: rgba(var(--verde-escuro-rgb), 1);

}

.alunoB {
  background-color: rgba(var(--rosa-escuro-rgb), 1);

}

.professorB {
  background-color: rgba(var(--verde-escuro-rgb), 1);
}

.alunoH {
  color: rgba(var(--rosa-escuro-rgb), 1);
}

.professorH {
  color: rgba(var(--verde-escuro-rgb), 1);
}

.section5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  min-height: 100vh;
  margin-top: 5%;
  padding: 5rem 2rem;
  background-color: rgb(var(--sal-rgb));
}

.section5 h1 {
  font-size: 4rem;
  text-align: center;
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
  margin-bottom: 10rem;
}

.tela5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}