.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(var(--sal-rgb));
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(var(--sal-rgb));
}

.tela1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 10%;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(var(--cinza-escuro-rgb), 0.6);
  background-image: url("../../public/images/duvidas.webp");
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.textoTela1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-bottom: 5rem;
  gap: 5rem;
  padding: 3rem;
  border-radius: 2rem;
  backdrop-filter: brightness(0.8);

}

.textoTela1 h1 {
  font-size: calc(2rem + 2vw);
  color: rgb(var(--sal-rgb));
  font-family: var(--font-pacifico);
  line-height: 0.8;
  text-shadow: .2rem .2rem .2rem rgba(var(--cinza-escuro-rgb), 1);
}

.textoTela1 h2 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 300;
  color: rgba(var(--sal-rgb), 1);
  text-shadow: .2rem .2rem .2rem rgba(var(--cinza-escuro-rgb), 1);
}

.textoTela1 p {
  align-self: flex-start;
  font-weight: 300;
  max-width: 90rem;
  font-size: calc(1.6rem + .2vw);
  color: rgb(var(--sal-rgb));
  text-shadow: .2rem .2rem .1rem rgba(var(--sal-escuro-rgb), 1);
}

.section2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  min-height: 100vh;
  overflow: visible;
  padding: 4rem 0;
  gap: 2rem;
}

.descricaoTela2 {
  position: -webkit-sticky;
  position: sticky;
  top: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.descricaoTela2 h1 {
  font-size: calc(2rem + 2vw);
  color: rgb(var(--rosa-escuro-rgb));
  font-family: var(--font-pacifico);
  max-width: 35rem;
  line-height: 0.8;
}

.descricaoTela2 p {
  font-weight: 400;
  max-width: 35rem;
  font-size: calc(1.6rem + .1vw);
  color: rgb(var(--rosa-escuro-rgb));
}

.cardsTela2 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30rem;

}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: rgb(var(--sal-rgb));

}

.cardFoto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  border-radius: 50% 50% 0 50%;
  transition: all 0.5s ease;

}

.cardTexto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  background-color: rgb(var(--sal-rgb));
  /* box-shadow: .5rem .5rem 1rem rgba(var(--cinza-escuro-rgb), 0.5); */
  padding: 1rem 2rem;
  border-radius: 2rem 2rem 2rem 0;
  box-shadow: .5rem .5rem 1rem rgba(var(--cinza-escuro-rgb), 0.5);
}

.cardTexto h1 {
  font-size: calc(2rem + .4vw);
  color: rgb(var(--rosa-escuro-rgb));
  line-height: 0.8;
}

.cardTexto p {
  font-weight: 300;
  font-size: calc(1.6rem + .1vw);
  color: rgb(var(--cinza-escuro-rgb));
}
@media screen and (max-width: 760px) {
  .section2 {
    flex-wrap: wrap;
  }
  .descricaoTela2{
    position: static;
    margin-bottom: 10rem;
  }
  
}