.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(var(--sal-rgb));
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(var(--sal-rgb));
}

.tela1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(var(--cinza-escuro-rgb), 0.6);
  background-image: url("../../public/images/duvidas.webp");
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.textoTela1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-bottom: 5rem;
  gap: 5rem;
  padding: 3rem;
  border-radius: 2rem;
  /* background-color: rgba(var(--verde-escuro-rgb), 1); */

}

.textoTela1 h1 {
  font-size: calc(2rem + 2vw);
  color: rgb(var(--sal-rgb));
  line-height: 0.8;
}

.textoTela1 h2 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 300;
  color: rgba(var(--sal-rgb), 1);
}

.textoTela1 p {
  align-self: flex-start;
  font-weight: 200;
  max-width: 90rem;
  font-size: calc(1.6rem + .5vw);
  color: rgb(var(--sal-rgb));
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
  background-color: rgb(var(--sal-rgb));
}

.tela2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}