.cardWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(var(--rosa-escuro-rgb));
    padding:2rem;
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
    transition: .3s;
}

.cardWrapper img {
    width: clamp(8rem, 10vw, 12rem);
    height: auto;
    object-fit: contain;
}

.cardWrapper h2 {
    font-size: clamp(3rem, 3.5vw, 3rem);
    font-weight: 200;
    font-family: var(--font-pacifico);
    color: rgb(var(--sal-rgb));
}

.cardWrapper:hover {
    transform: scale(1.05);
}