.professores,
.alunos,
.turmas,
.disciplinas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to right bottom,
            #4d004d, #5a005a, #680068, #770177,
            #850185, #920192, #9f019f, #ac01ac,
            #ba01ba, #c901c9, #d702d7, #e602e6);
}

.tableWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tableWrapper h1::first-letter {
    text-transform: uppercase;
}

.tableWrapper>h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: rgba(var(--sal-rgb));
}

.table>* {
    text-align: center;
}

.table {
    border-collapse: collapse;
}

.table thead {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding: 0.5rem;
}

.table tr {
    border-bottom: solid 3px rgba(var(--rosa-escuro-rgb));
}

.table th,
.table td {
    color: rgba(var(--rosa-escuro-rgb));
    padding: 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    text-align: center;
    border: solid 1px rgba(var(--rosa-escuro-rgb));
    background-color: rgba(var(--sal-rgb));
}

.table td {}

.table td span {
    color: rgba(var(--rosa-escuro-rgb));
}

.table tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.table td:last-child {
    padding: 0.5rem 1rem;

}

.bts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.create>img,
.read>img,
.edit>img,
.delete>img {
    width: clamp(2rem, 6vw, 4rem);
    padding: 0.5rem;
    background-color: rgba(var(--rosa-escuro-rgb));
    box-shadow: 0 2px 4px #0000005a;
    border-radius: 0.5rem;

}

.create,
.read,
.edit,
.delete {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover>img,
.edit:hover>img,
.create:hover>img,
.read:hover>img {
    transform: scale(1.1)
}

@media screen and (max-width: 40rem) {
    .tableRead>tr {
        line-height: 2rem;
    }
}