.mainGestao {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 5rem;
}

.gestao,
.professores,
.alunos,
.turmas,
.disciplinas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 5%;
    gap: 2rem;
    background-color: rgba(var(--cinza-escuro-rgb), 1);
    transition: all 0.3s ease-in-out;

}


.gestao h1,
.professores h1,
.alunos h1,
.turmas h1,
.disciplinas h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: rgba(var(--sal-rgb));
    margin-bottom: 2rem;

}

.linksGestao {
    width: 100%;
    height: 4rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.linksGestao>li>a {
    padding: 1rem 2rem;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    color: rgba(var(--cinza-escuro-rgb));
    border-radius: 1rem;
    font-weight: 600;
    background-color: rgba(var(--sal-rgb));
    box-shadow: .2rem .2rem .6rem rgba(var(--cinza-escuro-rgb), 0.6);
}

.linksGestao>li>a:hover {
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    color: rgba(var(--sal-rgb));
    background-color: rgba(var(--cinza-escuro-rgb));
}

.textoGestao {
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
    border-radius: 1rem;
}

.textoGestao h2 {
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    color: rgba(var(--sal-rgb));
    font-weight: 600;
    text-align: center;
}

.textoGestao p {
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    color: rgba(var(--sal-rgb));
}


.tableWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--espaco-interno);
}

.tableWrapper h1::first-letter {
    text-transform: uppercase;
}

.tableWrapper>h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    color: rgba(var(--sal-rgb));
}

.table>* {
    text-align: center;
}

.table {
    border-collapse: collapse;

}

.table thead {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding: 0.5rem;
}

.table tr {
    border-bottom: solid 3px rgba(var(--rosa-escuro-rgb));
}

.table tr:last-child {
    border-bottom: none;
}

.table tr:hover td,
.table tr:hover span {
    color: rgba(var(--rosa-claro-rgb));
    background-color: white;

}


.table th,
.table td {
    color: rgba(var(--rosa-escuro-rgb));
    padding: 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    text-align: center;
    border: solid 1px rgba(var(--rosa-escuro-rgb));
    border-radius: var(--border-radius);
    background-color: rgba(var(--sal-rgb));
}
.arrays{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.table td span {
    color: rgba(var(--rosa-escuro-rgb));
}


.table td:last-child {
    padding: 0.5rem 1rem;

}

.bts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.create>img,
.read>img,
.edit>img,
.delete>img {
    width: clamp(2rem, 6vw, 4rem);
    padding: 0.5rem;
    background-color: rgba(var(--rosa-escuro-rgb));
    box-shadow: 0 2px 4px #0000005a;
    border-radius: 0.5rem;

}

.create,
.read,
.edit,
.delete {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover>img,
.edit:hover>img,
.create:hover>img,
.read:hover>img {
    transform: scale(1.1)
}


.formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    height: auto;
    overflow: hidden;
    gap: 5%;
    border-radius: 1rem;
    background-color: #fff;
}

.checks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: .6rem .2rem 1rem rgba(var(--cinza-escuro-rgb), 0.2);

}

.checksSpan {
    color: rgba(var(--rosa-escuro-rgb), 1);
    font-size: calc(1.5rem + .1vw);
}

.checksOpcoes {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    font-size: calc(1.5rem + .1vw);
}

.checksOpcoes label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.checksOpcoes input {}


.checksOpcoes span {
    color: rgba(var(--rosa-escuro-rgb), 1);
}

@media screen and (max-width: 40rem) {
    .tableRead>tr {
        line-height: 2rem;
    }
}