.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 8rem);
  padding: 0 5%;
  background-image: url(../../public/images/graduate.webp);
  background-color: rgba(var(--cinza-escuro-rgb), 0.6);
  background-blend-mode: saturation;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.tela1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40rem;
  height: auto;
  overflow: hidden;
  gap: 5%;
}

.container1 {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 6rem 0 0 0;
  height: auto;
  box-shadow: 0 2px 4px #0000004a;
  border-radius: 1rem;
  background-color: #fff;
  backdrop-filter: blur(10px);
  transition: all .5s ease-in-out;

}

.container2 {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 6rem 0 0 0;
  height: auto;
  box-shadow: 0 2px 4px #0000004a;
  border-radius: 1rem;
  background-color: #fff;
  backdrop-filter: blur(10px);
  transition: all .5s ease-in-out;
  transform: translateX(-105%);

}


.tela1 h1 {
  color: rgb(var(--rosa-escuro-rgb));
  font-size: calc(1.6rem + .5vw);
  padding: .5rem;
  border-radius: 1rem;
  width: 100%;

}

.switchLogin {
  box-sizing: content-box;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  z-index: 2;
  border-bottom: 1px solid rgb(var(--rosa-escuro-rgb));
}

.switchLogin.active {
  border-bottom: 1px solid rgb(var(--verde-escuro-rgb));
}

.switchLogin:after {
  content: '';
  height: 0.5rem;
  width: 10rem;
  background: rgb(var(--rosa-escuro-rgb));
  border-radius: 6rem 6rem 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s ease;
}

.switchLogin.active:after {
  transform: translateX(-165%);
  width: 6.5rem;
  background: rgb(var(--verde-escuro-rgb));
}

.botaoLogin {
  font-weight: bold;
  color: rgb(var(--verde-escuro-rgb));
  padding: 0.5rem 1.2rem;
  background-color: rgb(var(--sal-rgb));
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  text-align: right;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 2px 4px #0000004a;
  transition: all 0.6s ease;
}

.botaoCadastro {
  font-weight: bold;
  color: rgb(var(--rosa-escuro-rgb));
  padding: 0.5rem 1.2rem;
  background-color: rgb(var(--sal-rgb));
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  text-align: right;
  margin-left: 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 2px 4px #0000004a;
  transition: all 0.6s ease;
}

.activeL {
  color: rgb(var(--sal-rgb));
  background-color: rgb(var(--verde-escuro-rgb));

}

.activeC {
  color: rgb(var(--sal-rgb));
  background-color: rgb(var(--rosa-escuro-rgb));
}

@media screen and (max-width: 635px) {
  .tela1 {
    width: 30rem;
  }

  .container1,
  .container2 {
    width: 30rem;
  }

}