.logo {
    display: flex;
    align-items: center;
    position: relative;
    /*precisa ser relative pra Image do next funcionar*/
    min-width: 20rem;
    width: clamp(20rem, 25vw, 40rem);
    aspect-ratio: 7/1;
}
