.botaoDoar {
    border-radius: 1rem;
    padding: .5rem 2rem;
    width: clamp(12rem, 15vw, 18rem);
    height: auto;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(var(--sal-rgb));
}

.pig {
    width: 32px;
    aspect-ratio: 1/1;
}

.botaoDoar span {
    font-size: 2rem;
    color: rgb(var(--rosa-escuro-rgb));
    font-weight: 800;
}

.botaoDoar:active {
    transform: scale(0.95);
}